.Rproj.user
.Rhistory
.RData
.Ruserdata
.DS_Store
/fastRanges.Rcheck/
/..Rcheck/
/*.tar.gz
/src/*.o
/src/*.so
/src/*.dll
/src/symbols.rds
/man/*.html
/docs/
/inst/benchmarks/figures/
/vignettes/*.html
/vignettes/*.rmarkdown
/vignettes/*_files/

/.quarto/
**/*.quarto_ipynb
inst/benchmarks/benchmark_overlaps.R
vignettes/benchmark_bioc.qmd
